# Copy this file to /etc/udev/rules.d/
# You can reload the udev rules with "udevadm control --reload"

SUBSYSTEM=="usb", \
    ATTRS{idVendor}=="2e8a", \
    ATTRS{idProduct}=="0003|0009|000a|000f", \
    TAG+="uaccess", \
    MODE="660", \
    GROUP="plugdev", SYMLINK+="ttyPico2Boot"

KERNEL=="ttyACM*", \
    ATTRS{idVendor}=="2e8a", \
    ATTRS{idProduct}=="0003|0009|000a|000f", \
    SYMLINK+="ttyPico2"