#KERNEL=="ttyACM*", DRIVERS=="ftdi_sio", MODE="0666", ATTR{device/latency_timer}="1"
#KERNEL=="ttyUSB*", DRIVERS=="ftdi_sio", MODE="0666", ATTR{device/latency_timer}="1"

SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6014", SYMLINK+="openmanipulator", MODE="0666", ATTR{device/latency_timer}="1"
